<div ng-hide="isLoggedIn()">
<center><h3>Please <a href="#/login">Login</a> to access the Mapper.. </h3></center>
</div>

<div class="row" ng-show="isLoggedIn()">
<center><h2>Mapper</h2></center>
	

	<div class="row">

		<div class="col-md-5" ng-init="getMyPerfectice()">
			<center><h3>Perfectice</h3></center>
			<div class="Content2">
				<!-- <div class="row" style="padding: 10px;">
				  <label>Exam</label>
				  <select class="form-control" ng-model="sexam" ng-change="action1()">
				   	<option ng-repeat="exam in exams | orderBy:'name' " value="{{ exam._id }}">{{ exam.name }}</option>
				  </select>
				</div>

				<div class="row" style="padding: 10px;" ng-show="sexam">
				  <label>Subject</label>
				  <select class="form-control" ng-model="ssubject" ng-change="action2()">
				   	<option ng-repeat="subject in subjects | orderBy:'name' " ng-if="subject.grade == sexam" value="{{ subject._id }}">{{ subject.name }}</option>
				  </select>
				  
				</div>
				
				<div class="row" style="padding: 10px;" ng-show="ssubject">
				  <label>Topic</label>
				  <select class="form-control" ng-model="map.perfecticeId" ng-change="action4()">
				   	<option ng-repeat="topic in topics | orderBy:'name' " ng-if="topic.subject == ssubject" value="{{ topic._id }}">{{ topic.name }}</option>
				  </select>
				</div> -->

				<div
				    data-angular-treeview="true"
				    data-tree-id="perfecticeTree"
				    data-tree-model="myPerfecticeArray"
				    data-node-id="_id"
				    data-node-label="name"
				    data-node-children="children" >
				</div>

			</div>


		</div>


		<div class="col-md-7">

			
			<div class="row">
				<center><h3 class="col-md-8">Provider</h3></center>
				<div class="col-md-4">
					  <label>Select</label>
					  <select class="form-control" ng-model="map.provider" ng-change="retrieveData()">
					   	<option value="Khan">Khan</option>
					   	<option value="NIIT">NIIT</option>
					  </select>
				</div>
			</div>
			


			<!-- Nested node template -->
	<!-- 		<script type="text/ng-template" id="nodes_renderer.html">
			  <div ng-click="doSomething(node._id)">
			    {{node.title}}
			  </div>
			  <ul ng-model="node.Children">
			    <li ng-repeat="node in node.Children" ng-include="'nodes_renderer.html'">
			    </li>
			  </ol>
			</script>
			<div>
			  <ul ng-model="khanAcademyArray">
			    <li ng-repeat="node in khanAcademyArray" ng-include="'nodes_renderer.html'"></li>
			  </ol>
			</div> -->
			



			<div class="Content">
				<div
				    data-angular-treeview="true"
				    data-tree-id="providerTree"
				    data-tree-model="providerArray"
				    data-node-id="_id"
				    data-node-label="title"
				    data-node-children="Children" >
				</div>
			</div>

		</div>

		<button class="btn btn-primary pull-right" style="width: 140px; margin: 1%;" ng-disabled = "!map.provider || !map.perfecticeId || !map.providerId" ng-click="insertMap()">Add</button>

	</div>


	<!-- <div class="row">
		<div class="Content3">
			<form class="form-inline" name="mappingForm" novalidate>
					<div class="form-group" style="padding-right:10px;">
	                  	<label>Provider:</label>
	                  	<input name = "provider" type = "text" ng-model = "map.provider" size="25" required readonly>
	                     <span style = "color:red" ng-show = "mappingForm.provider.$dirty && mappingForm.provider.$invalid">
	                        <span ng-show = "mappingForm.provider.$error.required">Provider is required.</span>
	                     </span>
	                </div>

	               
	                <div class="form-group" style="padding-right:10px;">
	                	<label>Perfectice Id:</label>
	                 	<input name = "perfecticeId"  type = "text" ng-model = "map.perfecticeId" size="25" ng-minlength=24 ng-maxlength=24 ng-change="action4()" required readonly/>
	                     <span style = "color:red" ng-show = "mappingForm.perfecticeId.$dirty && mappingForm.perfecticeId.$invalid">
	                        <span ng-show = "mappingForm.perfecticeId.$error.required"><br>Perfectice Id is required..</span>
	                        <span ng-show = "!mappingForm.perfecticeId.$valid && !mappingForm.perfecticeId.$error.required"><br>Invalid Object Id..</span>
	                     </span>
	                     <span style = "color:red" ng-show = "errorExists && mappingForm.perfecticeId.$valid && !mappingForm.perfecticeId.$error.required"><br>{{errorExists}}</span>
	                </div>
	               

	                <div class="form-group" style="padding-right:10px;">
	                	<label>Provider Id:</label>
	                  	<input name = "providerId" type = "text" ng-model = "map.providerId" size="25" ng-minlength=24 ng-maxlength=24 required readonly />
	                     <span style = "color:red" ng-show = "mappingForm.providerId.$dirty && mappingForm.providerId.$invalid">
	                        <span ng-show = "mappingForm.providerId.$error.required"><br>Provider Id is required..</span>
	                        <span ng-show = "!mappingForm.providerId.$valid && !mappingForm.providerId.$error.required"><br>Invalid Object Id..</span>
	                     </span>
	                </div>
	               
	                
	                 

	         </form>
         </div>
		
	</div> -->


	<div class="row" ng-init="mappingTable()">
		<div class="Content4">
			<table class="table">
<!-- 			    <thead>
			      <tr>
			        <th>Serial No.</th>
			        <th>Topic Name</th>
			        <th>Provider Id</th>
			        <th></th>
			      </tr>
			    </thead> -->
			    <!-- <tbody> -->
			      <tr ng-repeat="mapping in mappingTable">
			        <td>{{$index + 1}}.</td>
			        <td>{{mapping.gradeName}} => {{mapping.subjectName}} => {{mapping.topicName}}</td>
			        <td>{{mapping.nameFromProvider}}</td>
			        <td><button class="btn btn-danger" confirmed-click="deleteMap(mapping.perfecticeId, mapping.providerId)" ng-confirm-click="Do you really want to DELETE this mapping?">Delete</button></td>
			      </tr>
			    <!-- </tbody> -->
			  </table>

        </div>
	</div>

</div>

	



<style>

table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
</style> 



<!--  <span><b>Selected Node</b> : {{providerTree.currentNode.title}}</span> -->

