.btn
    {
      border-radius: 0px;
    }

.FixedContainerLeft
{
  float:left;
  height: 500px;
  width:40%; 
}

.FixedContainerRight
{
  float:right;
  height: 500px;
  width:60%; 
 
}


.Content
{
   overflow:auto;
   	height: 550px;
    background:#fff;
    border: 3px solid #618BCB;
    padding: 10px 30px;
}

.Content2
{
   overflow:auto;
   	height: 550px;
    background:#fff;
    border: 3px solid #618BCB;
    padding: 10px 30px;
}

.Content3
{
    background:#fff;
    border: 3px solid #618BCB;
    padding: 25px;
    margin: 15px;
}
.Content4
{
    overflow:auto;
    background:#fff;
    height: 325px;
    border: 3px solid #618BCB;
    padding: 25px;
    margin: 15px;
}
