<div class="panel panel-default" ng-init="getQuery24()">
  <div class="panel-heading">
    <h3 class="panel-title"><center>Count the no. Of questions based on Exam: </center></h3>
    <ul>
  </div>
  <div class="panel-body">

  <div class="row">
    <div class="col-md-4"><h4>Teacher Name</h4></div>
    <div class="col-md-4"><h4>Exam</h4></div>
    <div class="col-md-4"><h4>No. of Questions</h4></div>
  </div>
  <div ng-repeat="query in query24">
    <div class="row">
        <div class="col-md-4">
          <h5>{{$index+1}}. {{query._id.teacher}}</h5>
        </div>
        <div class="col-md-4">
          <h5>{{query._id.exam}}</h5>
        </div>
        <div class="col-md-4">
          <h5>{{query.No_of_questions}}</h5>
        </div>

      
    </div>
  </div>

  </div>
</div>