<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><center>Attempt count/trend who are added since a date (yesterday, last week, last month etc.)</center></h3>
    <ul>
  </div>
  <div class="panel-body" style="padding-left: 45px;">

    <div class="row" ng-init="getQuery16()">
      <h4>Attempt count who are added since yesterday: {{query16}}</h4>
    </div>
    <hr>
    <div class="row" ng-init="getQuery15()">
      <h4>Attempt count who are added since last week: {{query15}}</h4>
      <div class="row" ng-hide="query15 == 0" ng-init="getQuery14()">
        <div class="col-md-4"><h4>Date</h4></div>
        <div class="col-md-4"><h4>Count</h4></div>
      </div>
      <div ng-repeat="query in query14 | orderBy: ['_id.month', '_id.day']">
        <div class="row">
            <div class="col-md-4">
              <h5>{{query._id.day}}-{{query._id.month}}-{{query._id.year}}  </h5>
            </div>
            <div class="col-md-4">
              <h5>{{query.count}}</h5>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" ng-init="getQuery13()">
      <h4>Attempt count who are added since last month: {{query13}}</h4>
      <div class="row" ng-hide="query13 == 0" ng-init="getQuery12()">
        <div class="col-md-4"><h4>Date</h4></div>
        <div class="col-md-4"><h4>Count</h4></div>
      </div>
      <div ng-repeat="query in query12 | orderBy: ['_id.month', '_id.day']">
        <div class="row">
            <div class="col-md-4">
              <h5>{{query._id.day}}-{{query._id.month}}-{{query._id.year}} </h5>
            </div>
            <div class="col-md-4">
              <h5>{{query.count}}</h5>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>