<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><center>Edit Subject</center></h3>
		  </div>
		  <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
				  <div class="panel-body" ng-init="getGrades()">
				    <div class="row" ng-init="getTopics()">
					  	<form ng-submit="updateSubject()" ng-init="getSubject()">
						  <div class="form-group">
						    <label>Name</label>
						    <input type="text" class="form-control" ng-model="subject.name" placeholder="Subject Name">
						  </div>
						  <div ng-if="err" class="alert alert-danger" role="alert">{{err}}</div>


						  <div class="form-group">
							  <label>Exam:</label>
							  <input class="form-control" type="text" value="{{gradeName}}" readonly>
						   </div>

<!-- 						   <div class="form-group">
							  <label>Select Topics:</label>
							  <select class="form-control" ng-model="subject.topics" size=7 multiple>
							   	<option ng-repeat="topic in topics | orderBy:'name' " value="{{ topic._id }}">{{ topic.name }}</option>
							  </select>
							</div> -->

							<div class="pull-right">
							  <button type="submit" class="btn btn-info">Submit</button>
						      <a class="btn btn-danger" href="#/grades/details/{{subject.grade}}">Cancel</a>
					        </div>
						</form>
						<button ng-click="updateStatus()" class="btn btn-success">{{sta}}</button>
					</div>
				  </div>
				 </div>
			<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>