<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title"><center>Edit Exam</center></h3>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
			  <div class="panel-body">
			    <div class="row" ng-init="getSubjects()">
				  	<form ng-submit="updateGrade()" ng-init="getGrade()">
					  <div class="form-group">
					    <label>Name</label>
					    <input type="text" class="form-control" ng-model="exam.name" placeholder="Exam Name">
					  </div>


					  <div class="form-group">
					    <label>Country Code</label>
					    <input type="text" class="form-control" value="{{exam.countryCode}}" placeholder="Country Code" readonly>

					  </div>

<!-- 					   <div class="form-group">
						  <label>Select Subject:</label>
						  <select class="form-control" ng-model="exam.subjects" size=7 multiple>
						   	<option ng-repeat="subject in subjects" value="{{ subject._id }}">{{ subject.name }}</option>
						  </select>
						</div> -->

						<div class="pull-right">
						  <button type="submit" class="btn btn-info">Submit</button>
						  <a class="btn btn-danger" href="#/master_data/">Cancel</a>
					  	</div>
					</form>
					<button ng-click="updateStatus()" class="btn btn-success">{{sta}}</button>
				</div>
			  </div>
			</div>
			<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>