
<div class="row" ng-init="getSubject()">
<div class="col-md-1"></div>
<div class="col-md-10">
		<br>
	      <span style="font-size: 18px; color: rgb(139, 139, 143); margin-right: 50px;">Subject Name: {{ subject.name }}</span> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Show Distribution</button><br><br><br>
		  <div ng-init="getTopicsWQC()">
		    <div class="row">
			  	<table class="table">
				    <thead>
				      <tr>
				        <th>Topic Name</th>
				        <th>Question Count</th>
				        <th>Date</th>
				        <!-- <th></th> -->
				        <th></th>
<!-- 				        <th></th> -->
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="topic in topics" ng-if="subject['topics'].indexOf(topic._id)!=-1">
				        <td>{{topic.name}}</td>
				        <td><span class="text-danger">{{topic.questionsCount}}</span></td>
				        <td>{{topic.updatedAt | date}}</td>
				        <!-- <td><a href="#/topics/details/{{topic._id}}">View</a></td> -->
				        <td><a href="#/topics/edit/{{topic._id}}">Edit</a></td>
				        <!-- <td><a href="#/master_data" ng-click="removeGrade(exam._id)">Delete</a></td> -->
				      </tr>
				    </tbody>
				</table>
			</div>
		  </div>
<a class="btn btn-info pull-right" href="#/topics/add/{{ subject._id }}">Add Topic</a> <br><br>

</div>
<div class="col-md-1"></div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Question Distribution</h4></center>
      </div>
      <div class="modal-body">
        <nvd3 options="options" data="data"></nvd3>
      </div>
    </div>

  </div>
</div>




<style>

table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
</style> 