<div class="panel panel-default" ng-init="getSubject()">
  <div class="panel-heading">
    <h3 class="panel-title"><center>{{ subject.name }}</center></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  	<div class="col-md-6">
	  		<ul class="list-group">
		  		<li class="list-group-item">Created At: {{ subject.createdAt | date }}</li>
		  		<li class="list-group-item">Updated At: {{ subject.updatedAt | date }}</li>
		  		<li class="list-group-item">Slugfly: {{ subject.slugfly }}</li>
		  		<!-- <ul class="list-group">Subjects: 
		  		<li class="list-group-item" ng-repeat="subject in exam.subjects">{{ subject }}</li>
		  		</ul> -->
	  		</ul>
	  	</div>
	</div>
  </div>
</div>

<div class="pull-left">
<a class="btn btn-primary" href="#/subjects/">Back</a>
</div>
<div class="pull-right">
<a class="btn btn-default" href="#/subjects/edit/{{subject._id}}">Edit</a> | <a class="btn btn-danger" href="#" ng-click="removeSubject(subject._id)">Delete</a>
</div>