<div class="panel panel-default" ng-init="getTopic()">
  <div class="panel-heading">
    <h3 class="panel-title"><center>{{ topic.name }}</center></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  	<div class="col-md-6">
	  		<ul class="list-group">
		  		<li class="list-group-item">Created At: {{ topic.createdAt | date }}</li>
		  		<li class="list-group-item">Updated At: {{ topic.updatedAt | date }}</li>
		  		<li class="list-group-item">Slugfly: {{ topic.slugfly }}</li>
<!-- 		  		<li class="list-group-item">Subject: {{ topic.subject }}</li> -->

	  		</ul>
	  	</div>
	</div>
  </div>
</div>

<div class="pull-left">
<a class="btn btn-primary" href="#/topics/">Back</a>
</div>
<div class="pull-right">
<a class="btn btn-default" href="#/topics/edit/{{topic._id}}">Edit</a> | <a class="btn btn-danger" href="#" ng-click="removeTopic(topic._id)">Delete</a>
</div>