<div class="row">
<br><br>
<div class="col-md-6" ng-init="attemptsTrend()">

<center><h4 style="background-color: #5cb85c;">Attempts Trend</h4></center><br>
<rzslider rz-slider-model="slider1.value1"
          rz-slider-options="slider1.options1"></rzslider>
<nvd3 options="options" data="dataAttempt" class="with-3d-shadow with-transitions"></nvd3>

</div>

<div class="col-md-6" ng-init="signupTrend()">

<center><h4 style="background-color: #f0ad4e;">Signup Trend</h4></center><br>
<rzslider rz-slider-model="slider2.value2"
          rz-slider-options="slider2.options2"></rzslider>
<nvd3 options="options" data="dataSignup" class="with-3d-shadow with-transitions"></nvd3>

</div>
<!-- <div class="col-md-6" ng-init="studentsTrend30()">

<center><h4>Students added in last 30 days</h4></center><br>
<nvd3 options="options" data="dataStudents30" class="with-3d-shadow with-transitions"></nvd3>

</div> -->
</div>


<br><br>