<div class="row">
<br><br>
<div class="col-md-6" ng-init="attemptsTrend30()">

<center><h4 style="background-color: #5cb85c;">Attempts trend in last 30 days</h4></center><br>
<nvd3 options="options" data="dataAttempt30" class="with-3d-shadow with-transitions"></nvd3>

</div>

<div class="col-md-6" ng-init="signupTrend30()">

<center><h4 style="background-color: #f0ad4e;">Signup Trend in last 30 days</h4></center><br>
<nvd3 options="options" data="dataSignup30" class="with-3d-shadow with-transitions"></nvd3>

</div>
<!-- <div class="col-md-6" ng-init="studentsTrend30()">

<center><h4>Students added in last 30 days</h4></center><br>
<nvd3 options="options" data="dataStudents30" class="with-3d-shadow with-transitions"></nvd3>

</div> -->
</div>

<br><br>

<div class="row">
<br><br>
<div class="col-md-6" ng-init="attemptsTrend45()">

<center><h4 style="background-color: #5cb85c;">Attempts trend in last 45 days</h4></center><br>
<nvd3 options="options" data="dataAttempt45" class="with-3d-shadow with-transitions"></nvd3>

</div>

<div class="col-md-6" ng-init="signupTrend45()">

<center><h4 style="background-color: #f0ad4e;">Signup Trend in last 45 days</h4></center><br>
<nvd3 options="options" data="dataSignup45" class="with-3d-shadow with-transitions"></nvd3>

</div>
</div>


<br><br>

<div class="row">
<br><br>
<div class="col-md-6" ng-init="attemptsTrend90()">

<center><h4 style="background-color: #5cb85c;">Attempts trend in last 90 days</h4></center><br>
<nvd3 options="options" data="dataAttempt90" class="with-3d-shadow with-transitions"></nvd3>

</div>

<div class="col-md-6" ng-init="signupTrend90()">

<center><h4 style="background-color: #f0ad4e;">Signup Trend in last 90 days</h4></center><br>
<nvd3 options="options" data="dataSignup90" class="with-3d-shadow with-transitions"></nvd3>

</div>
</div>


<br><br>