<div class="row" ng-init="getGrades()">
<div class="col-md-1"></div>
<div class="col-md-10">



	<table class="table">
	    <thead>
	      <tr>
	        <th>Exam Name</th>
	        <th>Question Count</th>
	        <th>Date</th>
	        <th>Subjects</th>
	        <th></th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="exam in exams">
	        <td>{{exam.name}}</td>
	        <td><button class="btn btn-primary"><span class="badge">{{exam.questionsCount}}</span></button></td>
	        <td>{{exam.updatedAt | date}}</td>
	        <td><a class="btn btn-success" href="#/grades/details/{{exam._id}}"><span class="badge">{{(exam.subjects).length}}</span></a></td>
	        <td><a href="#/grades/details/{{exam._id}}">View</a></td>
	        <td><a href="#/grades/edit/{{exam._id}}">Edit</a></td>
	        <!-- <td><a href="#/master_data" ng-click="removeGrade(exam._id)">Delete</a></td> -->
	      </tr>
	    </tbody>
	  </table>


<a class="btn btn-info pull-right" href="#/grades/add">Add Exam</a>

</div>
<div class="col-md-1"></div>
</div>

<br><br>

<style>

table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
</style> 