<div class="row" ng-init="getTeacher()">
<br><br>
<div class="col-md-1" ng-init="getTeacherQ()"></div>
<div class="col-md-10" ng-init="getSignedCount()">

	<div class="panel panel-default" ng-init="getAttemptedCount()">
	  <!-- Default panel contents -->
	  <div class="panel-heading" ng-init="lastAttempt()"><b>Teacher Name: <span class="text-primary">{{teacherdetail.teacher_name}}</span></b></div>

		<table class="table table-bordered">
		    <thead>
		      <tr>
		        <th class="col-md-4">
		        <center><p>{{teacherdetail.count}}</p>
		        <p>Students</p></center>
		        </th>
		        <th class="col-md-4">
		        <center><p>{{signcount}}</p>
		        <p>Signed Students</p></center>
		        </th>
		        <th class="col-md-4">
		        <center><p>{{attemptedcount}}</p>
		        <p>Attempted</p></center>
		        </th>
		      </tr>
		    </thead>

		  </table>



		<div class="tab-container" ng-init="getStuNotReg()">


			<div class="btn-group btn-group-justified" role="group" ng-init="stuRegNotAttempt()">
				  <div class="btn-group" role="group">
				    <a show-tab href="#qs" data-toggle="tab" class="btn btn-primary">Question Summary</a>
				  </div>
				  <div class="btn-group" role="group">
				    <a show-tab href="#trend" data-toggle="tab" class="btn btn-primary">Trend</a>
				  </div>
				  <div class="btn-group" role="group">
				    <a show-tab href="#report" data-toggle="tab" class="btn btn-primary">Report</a>
				  </div>
			</div>

		    <!-- <ul class="nav nav-tabs">
		       <li class="active"><a show-tab href="#qs" data-toggle="tab">Question Summary</a></li>
		       <li><a show-tab href="#trend" data-toggle="tab">Trend</a></li>
		       <li><a show-tab href="#report" data-toggle="tab">Report</a></li>
		    </ul> -->
		 <div class="tab-content">
		    <div class="tab-pane cont active" id="qs">
		    	<br><br>
		        <center><nvd3 options="options" data="data"></nvd3></center>
		     </div>


		     <br>
		     <div class="tab-pane cont" id="trend">
		     <br>
			     <div class="row">
			       <div class="col-md-6" ng-init="attemptsTrend()">

					<nvd3 options="optionsline" data="dataAttempt" class="with-3d-shadow with-transitions"></nvd3>

					</div>

					<div class="col-md-6" ng-init="registrationTrend()">

					<nvd3 options="optionsline" data="dataRegistration" class="with-3d-shadow with-transitions"></nvd3>

					</div>
					<br>
				</div>
				<br>
				<div class="row">
			       <div class="col-md-6" ng-init="practiceTestTrend()">

					<nvd3 options="optionsline" data="dataPractice" class="with-3d-shadow with-transitions"></nvd3>

					</div>

					<div class="col-md-6" ng-init="questionsTrend()">

					<nvd3 options="optionsline" data="dataQuestions" class="with-3d-shadow with-transitions"></nvd3>

					</div>

				</div>
				<br>
		     </div>




		     <br>
		     <div class="tab-pane" id="report">
		     <br><br>
		     	<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">
					<button class="btn btn-info pull-right" type="button" ng-csv="studentsList1" csv-header="['Email', 'Date Added', 'Classrooms']" filename="studentsNotRegistered.csv">Export</button>
					<h5 style="margin: 8px; font-size: 16px;" class="text-danger">Students Not Registered</h5>
					</div>

			     	<table class="table table-condensed">
					   <tr>
					      <th class="col-md-4">Email</th>
					      <th class="col-md-4">Classrooms</th>
					      <th class="col-md-4">Date Added</th>
					   </tr>
		   
				     	<tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
					      <td class="col-md-4">{{ studentsList1[(currentPage1-1)*10 + i]._id }}</td>
					      <td class="col-md-4" ng-show="studentsList1[(currentPage1-1)*10 + i].classroomCount > 1">Multiple</td>
					      <td class="col-md-4" ng-show="studentsList1[(currentPage1-1)*10 + i].classroomCount == 1">Single</td>
					      <td class="col-md-4">{{ studentsList1[(currentPage1-1)*10 + i].addedAt | date }}</td>
					   </tr>
					   
				   </table>

				   <center>
					   <uib-pagination total-items="TotalItems1" ng-model="currentPage1" items-per-page=10 max-size="maxSize1" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages"></uib-pagination>
					   
				   </center>

				  </div>


				   <br>
		     	<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">
				  	<button type="button" class="btn btn-info pull-right" ng-csv="studentsList2" csv-header="['Exams','Email', 'Name','Registration Date','Phone Number']" filename="studentsNotAttempt.csv">Export</button>
				  	<h5 style="margin: 8px; font-size: 16px;" class="text-danger">Students Registered but not taken any Test</h></div>

			     	<table class="table table-condensed">
					   <tr>
					      <th class="col-md-4">Email</th>
					      <th class="col-md-2">Name</th>
					      <th class="col-md-2">Exam Name</th>
					      <th class="col-md-2">Phone No.</th>
					      <th class="col-md-2">Reg. Date</th>
					   </tr>
		   
				     	<tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
					      <td class="col-md-4">{{ studentsList2[(currentPage2-1)*10 + i].email }}</td>
					      <td class="col-md-2">{{ studentsList2[(currentPage2-1)*10 + i].name }}</td>
					      <td class="col-md-2">{{ (studentsList2[(currentPage2-1)*10 + i].exams).join(", ") }}</td>
					      <td class="col-md-2">{{ studentsList2[(currentPage2-1)*10 + i].phone }}</td>
					      <td class="col-md-2">{{ studentsList2[(currentPage2-1)*10 + i].regdate | date }}</td>
					   </tr>
				   </table>

				   <center>
					   <uib-pagination total-items="TotalItems2" ng-model="currentPage2" items-per-page=10 max-size="maxSize2" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages"></uib-pagination>
					   
				   </center>

				  </div>

				  <br>
		     	<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">
				  	<button type="button" class="btn btn-info pull-right" ng-csv="studentsList3" csv-header="['Classrooms', 'Count','Email','Name','Exams','Phone Number','Attempt Date']" filename="lastAttempt.csv">Export</button>
				  	<h5 style="margin: 8px; font-size: 16px;" class="text-danger">Last Attempt Report</h></div>

			     	<table class="table table-condensed">
					   <tr>
					      <th class="col-md-2">Name</th>
					      <th class="col-md-2">Email</th>
					      <th class="col-md-2">Exam Name</th>
					      <th class="col-md-2">Phone No.</th>
					      <th class="col-md-2">Classroom</th>
					      <th class="col-md-2">Attempt Date</th>
					   </tr>
		   
				     	<tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
					      <td class="col-md-2">{{ studentsList3[(currentPage3-1)*10 + i].name }}</td>
					      <td class="col-md-2">{{ studentsList3[(currentPage3-1)*10 + i].email }}</td>
					      <td class="col-md-2">{{ (studentsList3[(currentPage3-1)*10 + i].exams).join(", ") }}</td>
					      <td class="col-md-2">{{ studentsList3[(currentPage3-1)*10 + i].phone }}</td>
					      <td class="col-md-2" ng-show="studentsList3[(currentPage3-1)*10 + i].count > 1">Multiple</td>
					      <td class="col-md-2" ng-show="studentsList3[(currentPage3-1)*10 + i].count == 1">{{ (studentsList3[(currentPage3-1)*10 + i]).crooms[0] }}</td>
					      <td class="col-md-2">{{ studentsList3[(currentPage3-1)*10 + i].lastAttempt | date }}</td>
					   </tr>
				   </table>

				   <center>
					   <uib-pagination total-items="TotalItems3" ng-model="currentPage3" items-per-page=10 max-size="maxSize3" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages"></uib-pagination>
					   
				   </center>


				  </div>

			  </div>
			   
		     </div>
		  </div>
		</div>


</div>
<div class="col-md-1"></div>

</div>






			     

				










