<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><center>Edit Exam</center></h3>
  </div>
  <div class="panel-body">
    <div class="row" ng-init="getSubjects()">
	  	<form ng-submit="updateGrade()" ng-init="getGrade()">
		  <div class="form-group">
		    <label>Name</label>
		    <input type="text" class="form-control" ng-model="exam.name" placeholder="Exam Name">
		  </div>

		  <div class="form-group">
		    <label>SlugFly</label>
		    <input type="text" class="form-control" ng-model="exam.slugfly" placeholder="Slugfly">
		  </div>

		  <div class="form-group">
		    <label>Country Code</label>
		    <input type="text" class="form-control" ng-model="exam.countryCode" placeholder="Country Code">
		  </div>

		   <div class="form-group">
			  <label>Select Subject:</label>
			  <select class="form-control" ng-model="exam.subjects" multiple>
			   	<option ng-repeat="subject in subjects" value="{{ subject._id }}">{{ subject.name }}</option>
			  </select>
			</div>

		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
  </div>
</div>